* {
	margin: 0;
	padding: 0;
	border: 0;
}

body, html {
  height: 100%;
}

.menu{
	
	position: relative;
	text-align: center;
	width: 100%;
	top: 5%;
	
}

.menu_item{
	
	width: 11%;
	position: relative;
	padding-top: 2%;
	padding-left:2%;
	padding-right: 2%;
	padding-bottom: 2%;
	text-decoration:none;
	font-family: "Arial",sans-serif;
	font-weight: normal;
	font-size: 20px;
	color: black;
}

.menu_item:hover{
	
	background-color: rgba(220,220,220,0.5);
}

.main_banner {

  /* Full height */
	height: 100%; 
	width: 100%;
	position: relative;
	top: -20px;
	background-color: white;
	display: none;
	z-index: -1;
	
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	animation-name: example;
	animation-duration: 4s;
}

#main_ansys{ width: 100%;}
#main_imam{ width: 100%;}
#main_3{ width: 100%;}

/* Safari 4.0 - 8.0 */ 
@-webkit-keyframes example {
  0% 	{opacity: 0;}
  25%	{opacity: 1;}
  75% 	{opacity: 1;}
  100% 	{opacity: 0;}
}

/* Standard syntax */
@keyframes example {
  0% 	{opacity: 0;}
  25%	{opacity: 1;}
  75% 	{opacity: 1;}
  100% 	{opacity: 0;}
}

@-webkit-keyframes icons_in {
  from {opacity: 0.1; top: 60%;}
  to {opacity: 1; top: 50%;}
}

/* Standard syntax */
@keyframes icons_in {
  from {opacity: 0.1; top: 60%;}
  to {opacity: 1; top: 50%;}
}

.product{

	height: 100%;
	width: 100%;
	position: absolute;
	
}

.product.p1{top: 100%;}
.product.p2{top: 200%;}
.product.p3{top: 300%;}
.product.p4{top: 400%;}
.product.p5{top: 500%;}

/*This is the first text banner with it's title*/
#section1_text{
	
	height:30%;
	position: absolute;
	top: 1%;
	background-color: rgb(220,220,220);
	font-size:32px;
	text-align: center;
	font-family: "Arial",sans-serif;
	font-weight: bold;
}

/*This is the text inside the first text banner*/
#section1_internal_text{
	
	width:50%;
	font-size:22px;
	text-align: justify;
	text-align-last: center;
	position: relative;
	top: 5%;
	margin: auto; /*This is needed to keep the div center relative to the screen*/
	font-weight: normal;
}

#section2_text{
	
	height:30%;
	position: absolute;
	top: 1%;
	background-color: rgb(220,220,220);
	font-size:32px;
	text-align: center;
	font-family: "Arial",sans-serif;
	font-weight: bold;
	clear: left;
}

/*This is the text inside the first text banner*/
#section2_internal_text{
	
	width:50%;
	font-size:22px;
	text-align: justify;
	text-align-last: center;
	position: relative;
	top: 20px;
	margin: auto; /*This is needed to keep the div center relative to the screen*/
	font-weight: normal;
	clear: left;
	
}

#section3_text{
	
	height:30%;
	position: absolute;
	top: 1%;
	background-color: rgb(220,220,220);
	font-size:32px;
	text-align: center;
	font-family: "Arial",sans-serif;
	font-weight: bold;
	clear: left;
}

/*This is the text inside the first text banner*/
#section3_internal_text{
	
	width:50%;
	font-size:22px;
	text-align: justify;
	text-align-last: center;
	position: relative;
	top: 20px;
	margin: auto; /*This is needed to keep the div center relative to the screen*/
	font-weight: normal;
	clear: left;
	
}

#section4_text{
	
	height:30%;
	position: absolute;
	top: 1%;
	background-color: rgb(220,220,220);
	font-size:32px;
	text-align: center;
	font-family: "Arial",sans-serif;
	font-weight: bold;
	clear: left;
}

/*This is the text inside the first text banner*/
#section4_internal_text{
	
	width:50%;
	font-size:22px;
	text-align: justify;
	text-align-last: center;
	position: relative;
	top: 20px;
	margin: auto; /*This is needed to keep the div center relative to the screen*/
	font-weight: normal;
	clear: left;
	
}

#section5_text{
	
	height:30%;
	width: 100%;
	position: absolute;
	top: 1%;
	background-color: rgb(220,220,220);
	font-size:32px;
	text-align: center;
	font-family: "Arial",sans-serif;
	font-weight: bold;
	clear: left;
}

/*This is the text inside the first text banner*/
#section5_internal_text{
	
	width:50%;
	font-size:22px;
	text-align: justify;
	text-align-last: center;
	position: relative;
	top: 20px;
	margin: auto; /*This is needed to keep the div center relative to the screen*/
	font-weight: normal;
	clear: left;
	
}

.small_icons{
	
	float: left;
	width: 20%;
	position: relative;
	top: 50%;
	display:none;
	
	-webkit-animation-name: icons_in; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: icons_in;
	animation-duration: 1s;
	
}

.small_icons.small_icon_1{
	
	padding-left: 11%;
	
}

.small_icons2{
	
	float: left;
	width: 20%;
	position: relative;
	top: 50%;
	display:none;
	
	-webkit-animation-name: icons_in; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: icons_in;
	animation-duration: 1s;
	
}

.small_icons2.small_icon_1b{
	
	padding-left: 11%;
	
}

.small_icons3{
	
	float: left;
	width: 20%;
	position: relative;
	top: 50%;
	bottom: 20%;
	display:none;
	
	-webkit-animation-name: icons_in; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: icons_in;
	animation-duration: 1s;
	
}

.small_icons3.small_icon_1c{
	
	padding-left: 11%;
	
}

.small_icons4{
	
	float: left;
	width: 20%;
	position: relative;
	top: 50%;
	bottom: 20%;
	display:none;
	
	-webkit-animation-name: icons_in; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: icons_in;
	animation-duration: 1s;
	
}

.small_icons4.small_icon_1d{
	
	padding-left: 11%;
	
}

.small_icons5{
	
	float: left;
	width: 20%;
	position: relative;
	top: 50%;
	bottom: 20%;
	display:none;
	
	-webkit-animation-name: icons_in; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: icons_in;
	animation-duration: 1s;
	
}

.small_icons5.small_icon_1e{
	
	padding-left: 11%;
	
}
